.env
.instagram.env
node_modules/
src/helper/connection/session/**/*.json
src/media/connection_databases/*.json
temporary_files/
test/
src/commands/debugging/Story.js
src/commands/debugging/Logout.js
src/commands/debugging/Socket.js
databases/users/contacts-backup.json
.env*
.flaskenv*
!.env.project
!.env.vault
public/dashboard/build/
next_release/
cache/